*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	opacity:0;
	animation: onload 2s forwards;
}

.flex{
	display:flex !important;
}
.end{
	justify-content: center;
	margin-bottom:15px;
}
.start{
	justify-content: center;
}

.navbar img{
	height:80px;
}
.navbar .pure-u-1-8{
	display:flex;
	align-items: center;
	justify-content: center;

	transition: background-color 0.7s ease;
	text-decoration: none;
	color:black;
}
.navbar .pure-u-1-8:hover{
	background-color: rgb(255, 182, 46);
}
.pointer{
	cursor: pointer;
}
.background-image{
	width:100%;
	height:40vh;
	object-fit: cover;
}
.main-form{
	padding:30px;
	background-color: white;
	display:flex !important;
	flex-direction: column;
	border-radius: 20px;
	position: relative;
	bottom:25vh;
	box-shadow: 10px 10px 58px 1px rgba(0,0,0,0.36);
}
.main-form .pure-g{
	margin-bottom:20px;
}
.title{
	font-size: 2.5em;
	text-align: center;
	font-weight: 100 !important;
	margin-bottom: 20px;
}
.main-form-input{
	border-radius: 20px;
	border: 1px solid lightgray;
	width:100%;
	height:70px;
	text-align: center;
	color:black;
}
.label-wrapper p{
	color:gray;
	letter-spacing: 0;
	margin-bottom:5px;
	position: relative;
	left:5px;
}
.port{
	width:68%;
	margin-right:2%;
}
.locode{
	width:30%;
}
.importButton{
	border: 1px solid rgb(255, 182, 46);
	color:black;
	background-color: white;
	font-weight: 100 !important;
	padding: 20px 40px 20px 40px;
	border-radius: 20px;
	margin: 0px 20px;
	transition: background-color 0.8s ease;
}
.importButton:hover{
	background-color: rgb(255, 182, 46);
}
.flex-center{
	justify-content: center;
}
.fill{
	background-color:rgb(255, 182, 46);
}
.submit{
	margin-top:30px;
	border-radius: 50px;
	padding: 20px 70px;
}
#description p{
	font-size: 25px;
	margin-bottom:40px;
}
#description{
	text-align: center;
}
#description p:first-child{
	font-weight: bold;
	font-size: 40px;
	margin-top:30px;
}
#mainForm input{
	margin-bottom:10px;
}

@media screen and (min-width: 35.5em){
	#mainForm input{
		margin-bottom:0px;
	}
	.end{
		justify-content: flex-end;
		margin:0;
	}
	.start{
		justify-content: flex-start;
	}
}
/*Mobile navbar CSS*/

#mobileNavbar{
	position: fixed;
	width:0%;
	height:100vh;
	background-color: white;
	z-index: 1;
	transition: width 0.7s ease;
}
.showMobile{
	width:100% !important;

}
.showMobile p{
	padding: 15px;
}
.navElement{
	width:100%;
	font-size: 2em;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	color:black;
}
.navElement p{
	overflow: hidden;
}
.navElement::after{
	display:block;
	content:"";
	width:20%;
	margin:auto;
	height:1px;
	border-bottom: 1px solid rgba(255, 182, 46,0.7);
}

.logo{
	display:flex !important;
	justify-content: center;
	flex: 1;
}
#hamburger{
	cursor: pointer;
	padding:15px;
}
#hamburgerNav img{
	height: 80px;
}
#hamburgerNav{
	position: sticky;
	top:0;
	background-color: white;
	z-index: 5;
}
#close{
	display: flex;
	justify-content: flex-end;
}
#close::after{
	content:none;
}
#closeImg{
	cursor: pointer;
	height:50px;
}


/*AUTOCOMPLETE*/
.autocomplete{
	/*display:none;*/
	position: absolute;
	top:0px;
	width:100%;
	background-color: white;
}
.autocompleteEl{
	cursor: pointer;
	margin:auto;
	font-size: 20px;
	padding-top:25px;
	padding-bottom:25px;
	width:100%;
	background-color: white;
	position: relative;
	z-index: 99;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	text-align: center;
}
.autocompleteEl:hover{
	background-color: lightgray;
}
.selected{
	background-color: lightgray;
}
.autocompleteEl:last-child{
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom: 1px solid lightgray;
}
.removeBottomRadius{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.parent{
	position: relative;
}

@keyframes onload{
	100%{
		opacity: 1;
	}
}